VITE_NETWORK=sepolia

VITE_RPC_URL=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/Kkya5b49_Ge6qmL_Wd_zf6c9mp1Bc0K1

VITE_PRIVY_APP_ID=cmm6bd6zy00en0cjvr6jshfw6

VITE_PRIVY_LOGIN_METHODS=email,google


VITE_API_URL=http://localhost:6969